<div class="flex flex-row">
  <mat-sidenav-container class="example-container" autosize>
    <mat-sidenav [opened]="this.isShownSignal()" class="example-sidenav" mode="side">
      <mat-nav-list>
        <mat-list-item routerLinkActive routerLink="customer">Customer</mat-list-item>
        <mat-list-item routerLinkActive routerLink="product">Product</mat-list-item>
        <mat-list-item routerLinkActive routerLink="product-model">Product model</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

  </mat-sidenav-container>
  <button matIconButton class="icon align-middle" (click)="changeSideNavState()">
    @if (isShownSignal()) {
    <mat-icon class="material-symbols-outlined">
      collapse_content
    </mat-icon>
    } @else {

      <mat-icon class="material-symbols-outlined">
        expand_content
      </mat-icon>
    }
  </button>
</div>
