.mat-icon.fa,
.mat-icon.fab {
  font-size: 20px;
  vertical-align: middle;
}

.activebutton
{
  /*TODO use system colors accent or somethign*/
  background-color: rgba(255, 255, 255, 0.64);
  color: white;
}
